<!DOCTYPE html>
<html>

<head>
    <title>List of Owners</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            /* Center align the content */
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <center>
        <h1>List of Owners</h1>
    </center>
    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < values.length; i++) { %>
                <tr>
                    <td>
                        <%= values[i] %>
                    </td>
                    <td>
                        <%= date[i] %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

</body>

</html>